body {
  margin: 0;
  background: #fff5f7;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: white;
  justify-content: space-between;
}

header img {
  width: 40px;
}

nav a {
  margin: 0 10px;
  cursor: pointer;
}

.timer {
  text-align: center;
  padding: 20px;
}

#time {
  font-size: 2em;
}

main {
  padding: 20px;
}
