body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #fff8f9;
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero {
  margin-top: 100px;
}

button {
  padding: 12px 25px;
  border: none;
  background: #ff4d6d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
