body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
text-align:center;
}

.hidden{display:none;}

div{
margin:10px;
padding:10px;
border-radius:10px;
background:rgba(255,255,255,0.1);
cursor:pointer;
}

input{
padding:10px;
border:none;
border-radius:8px;
}

button{
padding:10px;
margin:5px;
border:none;
border-radius:8px;
cursor:pointer;
}

#bar{
height:10px;
width:0%;
background:lime;
}
